[Unit]
Description=CNC Dashboard Backend

[Service]
Type=simple
User=dietpi
Group=dietpi
WorkingDirectory=/opt/cnc-dashboard/backend
Environment=PORT=8080
Environment=BIND_HOST=127.0.0.1
Environment=AXES_INTERVAL_MS=250
Environment=CAMERA_ENABLED=1
Environment=CAMERA_FFMPEG_PATH=/usr/bin/ffmpeg
Environment=CAMERA_DEVICE_PATH=/dev/video0
Environment=CAMERA_WIDTH=1280
Environment=CAMERA_HEIGHT=720
Environment=CAMERA_FPS=15
Environment=CAMERA_INPUT_FORMAT=mjpeg
Environment=CAMERA_JPEG_QUALITY=5
Environment=EMERGENCY_INPUT_MODULE_ENABLED=1
Environment=EMERGENCY_INPUT_MODULE_I2C_ADDRESS=0x21
Environment=EMERGENCY_INPUT_MODULE_ESTOP_CHANNELS=1,2
Environment=EMERGENCY_INPUT_MODULE_SPINDLE_RUNNING_CHANNELS=3
Environment=HARDWARE_ESTOP_POLL_INTERVAL_SEC=0.1
Environment=STATUS_INDICATOR_LED_COUNT=59
ExecStart=/usr/bin/python3 /opt/cnc-dashboard/backend/server.py
Restart=always
RestartSec=2
Environment=ENABLE_REAL_SHUTDOWN=1
Environment=SHUTDOWN_DELAY_SEC=0.0

[Install]
WantedBy=multi-user.target
